/* Write your CSS here */
.not-found-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: url('https://assets.ccbp.in/frontend/react-js/ipl-dashboard-sm-bg.png');
  background-size: cover;
  font-family: 'Bree Serif';
}

@media screen and (min-width: 768px) {
  .not-found-container {
    background-image: url('https://assets.ccbp.in/frontend/react-js/ipl-dashboard-lg-bg.png');
  }
}

.not-found-text {
  text-align: center;
  font-size: 28px;
  color: #ffffff;
}
